.loginBox{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}
.rigth{
    width: 50%;
}
.left h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.left p{
    width: 50%;
}
.left{
    width: 50%;
}
.rightBox{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 230px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.rightBox input{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.rightBox a{
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding-bottom: 10px;
    margin-top: 2px;
}
.rightBox button{
    padding: 10px;
    margin-top: 5px;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
}
#create{
    align-self: center;
    width: 50%;
    padding: 5px;
    background-color: rgb(36, 182, 36);
    border: none;
    border-radius: 5px;
}